#start-btn
{
    width: 40%;
} 
#camera,.selfie_image
{
    width:360px;
    height: 250px;
    border:1px solid rgb(208, 1, 250);
    padding:10px;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background-color:black;
    color:darkslateblue
}